.App {
  text-align: center;
}

ul {
  display: flex;
  position: relative;
}

li {
  list-style: none;
  margin-right: 1rem;
}

ul > li:last-child {
  margin-right: 0;
  position: absolute;
  right: 40px;
}

a {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: darkslategray;
}
